#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  #search-form input[type="text"],
  #search-form button {
    margin: 10px;
    padding: 10px;
    width: 300px;
    max-width: 80%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
  }
  
  #search-form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #search-form button:hover {
    background-color: #3e8e41;
  }
  